body {
background-color: #181818; 
font-family: "PPFractionMono-Bold";
color:#EADBE6;
margin: 100px;
}

/* Typography */

div.largetext {
    font-size: 60px; 
    line-height: 100px;
    animation: coloreffect 2s;
    text-align: center;
}

div.mediumtext {
    font-size: 32px;
    line-height: 30px;
    text-align: center;
}

div.smalltext{
    font-size: 16px;
    line-height: 16px;
}

div.serif{ 
    font-family: times ;
    font-weight: normal;
}

.center {
    text-align: center;
    border: 3px solid green;
  }

@font-face {
    src: url("fonts/PPFraktionMono-Bold.woff");
    font-family: "PPFractionMono-Bold";
}

@font-face {
    src: url("fonts/Estrella-Early.woff");
    font-family: "estrella";
}

div.estrella {
    font-family: "estrella";
}

@font-face {
    src: url("fonts/Ackem-Dot.woff");
    font-family: "ackem"
}

div.ackem {
    font-family: "ackem";
}

@font-face {
    src: url("fonts/Huf\ Script\ Font.woff");
    font-family: "huf";
}

div.huf {
    font-family: "huf"
}

/* Colours */

div.fontpink {
    color:#FF00BB;
}

div.fontmiku {
    color: aqua;
}

div.bgmiku {
    background-color:aquamarine;
}

div.bgpink {
    background-color:#FF00BB;
}

/* Layout */

div.width10 {
    width: 10%;
}

div.width33 {
    width: 33.333%;
}

div.width50{
    width: 50%;
}

div.width66 {
    width: 66.666%;
}

div.width100 {
    width: 100%;
}

div.mb25 {
    margin-bottom: 25px;
}

div.mb50 {
    margin-bottom: 50px;
}

div.mb65 {
    margin-bottom: 65px;
}

div.ml200 {
    margin-left: 200px;
}

div.mlauto {
    margin-left: auto;
}

div.mrauto {
    margin-right: auto;
}

div.circle {
    width: 530px;
    height: 530px;
    border-radius: 100%;
}

div.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    row-gap: 20px;
    text-align: center;
}

div.centre {
    text-align: center;
}

div.middle {
    justify-content: center;
}

div.ui {
    display: flex;
    flex-wrap: wrap;
}

div.left {
    text-align: center;
    width: 50%;
}

div.right {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
}

div.p25 {
    padding: 10px;
}


div.p50 {
    padding: 50px;
}

/*image*/

img {
    width: 100%;
}

video {
    width: 100%;
}

/*animation*/

@keyframes fadein {
    0% {
        color:red;
    }
    50% {
        color:blue;
    }
    100% {
        color:lime;
    }
}

div.fade {
    animation:fadein 2s;
}

/*elements*/

div.button {
    padding: 10px;
    background-color: #FF00BB;
    color: #EADBE6;
    display: inline-block;
    border-radius: 10px;
    margin-right: 20px;
} 

.active {
    display: block;
  }
  
  .highlight {
    background-color: #00ffff; 
    border: 2px solid #00ffff;
  }

div.thumbnails {
    display: flex;
    flex-wrap: wrap;
    height: 600px;
   justify-content: flex-end;
   background-color: #00ffff;
   align-items: center;
}

div.thumbnail {
    width: 200px;
    background-color: #FF00BB;
}

div.border {
    border: 3px solid #FF00BB;
}

div.rounded {
    border-radius: 10px;
}

div.submit {
    opacity: 0.5;
    pointer-events: none;
  }
  
  .submit.enabled {
    opacity: 1;
    pointer-events: auto;
    cursor: pointer;
  }
  
  .randomMessage1, .randomMessage2, .randomMessage3, .randomMessage4 {
    display: none;
  }

  .scrollable {
    margin: 0 30px;
    overflow: hidden;
  }
  
  .p1 {
    animation: animate_text 15s linear infinite;
  }

  @keyframes animate_text {
    from {
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      transform: translate3d(100%, 0, 0);
    }
  }

  div.sticker1 {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 2;
    display: none;
    pointer-events: none;
  }
  
  div.sticker1.show {
    display:block;
  }
  
  div.sticker2 {
    position: fixed;
    top: 10px;
    left: 10px;
    display: none;
    pointer-events: none;
  }
  
  div.sticker2.show {
    display:block;
  }
  
  div.sticker3 {
    display: none;
    top: 10px;
    left: 10px;
    justify-content: center;
    pointer-events: none;
  }
  
  div.sticker3.show {
    display:block;
  }
  
  div.sticker4 {
    display: none;
    pointer-events: none;
  }
  
  div.sticker4.show {
    display:block;
  } 


  
  




  